<div class="jumbotron text-center">
    <h1 class="display-3">{{title}}</h1> <!--display-3 is a bootstrap class -->
    <p class="lead">Add or read the latest news in the technology world</p> <!--Jot down ideas -->
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add News</a>

</div>

<!--This is basically the home page -->